

body{
    background-color: #113f67;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

h3{
    text-align: center;
    color: white;
}
section{
    padding-bottom: 200px;
    
}
.container{
    display: flex;
    justify-content: center;
    
}

.box{
    width: 300px;
    height: 200px;
    background-color: #e7eaf6;
    margin-left: 20px;
    border-radius: 15px;
    padding: 10px;
  
}

footer {
    background-color:#38598b;
    height: 100px;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0; /* Fija el footer en la parte inferior de la página */
}